

@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400);

@import url(https://fonts.googleapis.com/css?family=Dosis:300);
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

/* Tag line */


.tagline {
    font-size: 52px;
    color: black;
    line-height: 1.6;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    border: 3px solid rgb(0, 0, 0);
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.narrative {
    border-left: 5px solid #c33636;
    color: #666;
    page-break-inside: avoid;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    max-width: 600px;
    margin: auto;
}

.instruct {
    font-family: Montserrat;
    font-size: 18px;

    color: black;
    line-height: 1.6;

    display: none;
    overflow: hidden;
}

.context {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 27px;
    color: #5d0606;
    line-height: 1.6;
    text-align: center;
    font-weight: 600;
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 10px;
}

hr {
    max-width: 600px; 
}


 
tw-passage {
    font-family: Montserrat;
  	font-size: 16px;
  	color: black;
  	line-height: 1.6;
  
}

h1 {
    font-family: Montserrat;
  	font-size: 35px;
  	color: black;
}

code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #666666;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}






.collapsible {

    font-family: Montserrat;
    font-size: 25px;
    color: black;


    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    outline: none;
  }
  
  .active, .collapsible:hover {

    color: #cccccc;


    background-color: black;

  }
  




/*--- review below */




/* body style */
tw-story {
  background-color: #ffffff;
}

/* img */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Link styles */
tw-link {
    font-family: Montserrat;
  	font-size: 16px;
  	/*color: black;
  	line-height: 1.6;*/
}


tw-link, .enchantment-link {
    color: black;
}
tw-link:hover, .enchantment-link:hover {
    color: #666666;
}
.visited {
    color: red;
}
.visited:hover {
    color: pink;
}
